/* https://demo.themely.com/integral-lite/ */
/* *************** */
/* OPTIN SECTION */
/* *************** */
.section-options {
    padding: 9.6rem 0;
}
.heading-secondary {
    font-size: 4.4rem;
}

.option-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
    row-gap: 4.8rem;
}

.option-text-box {
    display: grid;
    grid-template-columns: 3.2rem 1fr;
    column-gap: 1.6rem;
}

.subheading {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 1.6rem;
}

.option-text {
    font-size: 1.6rem;
    line-height: 1.6;
    grid-column: 2;
}
